<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/header.css"/>

</head>


<header class="page-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">Resource Wall</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/urls">My Resource</a>
      <a class="nav-item nav-link" href="/urls/new">Create Resource</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto text-right">
      <% if (user && user.id) { %>

        <p class="navbar-text">
          Sign in as: <strong><%= user.email %></strong>
          <form action="/logout" method="POST" class="d-inline">
            <button class="btn btn-outline-secondary" type="submit">Logout</button>
          </form>
        </p>
        <% } else { %>
          <p class="navbar-text">Please login or register: |</p>
          <a class="nav-item nav-link" href="/register">Register |</a>
          <a class="nav-item nav-link" href="/login">Login</a>

          <% } %>
        </div>
      </div>
    </nav>
  </header>
  </html>
