<!DOCTYPE html>
<html lang="en">


  <head>

    <title>Resource Wall</title>

    <link rel="stylesheet" href="styles/header.scss" type="text/css"/>

  </head>

<body>

    <header class="page-header">

      <div class="navbar">
          <a class="nav-name" href="/users">Resource Wall</a>
          <a class="nav-home" href="/users">Home</a>
          <a class="nav-register" href="/users/register">Register</a>
          <a class="nav-search" href="/users/search">Search</a>
          <a class="nav-login" href="/users">Login</a>
        </div>

      </div>
    </header>


</body>




</html>
