<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/create_resource.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>

  <main class="wrap" >


        <form action="/resources/new" method="post">

          <h1>Create Resource</h1>

          <div class="input-box">
            <h6>Title<h6>
            <input type="text" name="title" placeholder="Enter title" required>
          </div>

          <div class="input-box">
            <h6>Description</h6>
            <input type="text" name="description" required>
          </div>
          <div class="input-box">
            <h6>Url</h6>
            <input type="text" name="url" value="http://" required>
          </div>
          <div class="input-box">
            <h6>Category</h6>
            <input type="text" name="category" required>
          </div>

          <button type="submit" class="btn-btn">Create Resource</button>
        </form>
  </main>
</body>
</html>

