<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />


    <link rel="stylesheet" href="/styles/login.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">


    <title>Login</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  </head>

  <header>
    <%- include('partials/_header') %>
  </header>


  <body>

    <div class="container">
    <main class="wrap" >
      <form method="POST" action="/login">

        <h1>Login</h1>

        <div class="input-box">
            <h6>Email Address</h6>
            <input type="email" name="email" placeholder="Email" required>
            <i class='bx bxs-user' ></i>
        </div>

        <div class="input-box">
          <h6>Password</h6>
          <input type="password" name="password" placeholder="Password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="register-link">
          <p>
            Don't have an account?
            <a href="/users/register">Register</a>
          </p>
        </div>

      </form>

        </div>
      </form>
    </main>
  </div>
  </body>
</html>
