<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/profile.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <main>
    <title>Update Profile</title>

    <div class="wrapp">
    <h1 class="title">Update Your Profile</h1>

    <form method="post" action="users/<%= user.id %>/update">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= user.name %>" required><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= user.email %>" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>

      <button class="btn-btn" type="submit" value="Update Profile">Update Profile</button>
    </form>
    </div>
  </main>
  </body>
</html>
