<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/register.css" />



  <!-- <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script> -->


</head>

<<<<<<< HEAD:views/register.ejs
<body>
  <%- include('partials/_header') %>
  </header>
=======
<header>
  <%- include('partials/_header') %>
</header>

<body>
>>>>>>> 4b1a19befed2104d921122441af12223b9d77026:views/Register.ejs


  <main class="box-wrap"  >
    <h1>Create Account</h1>
    <form method="POST" action="/register">

      <div class="form-group">
        <h6>Email Address</h6>
        <input type="email" class="form-control small-input" name="email" placeholder="Enter email" required/>
      </div>

      <div class="form-group">
        <h6>Password</h6>
        <input type="password" class="form-control small-input" name="password" placeholder="Enter password" required/>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

</body>
</html>
