
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Source Sans 3',sans-serif;
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
  // align-items: start;
  // min-height: 100vh;
}

nav {
  background: plum;
  height: 80px;
  width: 100%;
}

.logo {
width: 150px;
cursor: pointer;
}


nav ul {
  float: right;
  margin-right: 20px;
  // list-style: none;
  // width: 100%;
  // text-align: right;
  padding-right: 60px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}


nav ul li a {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

.btn {
  color: black;
  font-weight: 600;
}

