
.container {
  width: 100%;
  padding: 10px 3%;
}


.content {
  margin-top: 25%;
  color: black;
  max-width: 620px;
}

.content h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 10px;
}


.content form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}


.content form input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
}
