
.row-justify-content-center {
    margin-bottom: 100px;
    margin-top: 160px;
  }

//   .card-columns {
//   background: transparent;
//   backdrop-filter: blur(20px);
//   border: 2px solid rgba(255, 255, 255, .2);
//   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
// }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

